@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations.scss";

@import "./base/typography"; 

@import "./components/header" ;
@import "./components/footer";

@import "./pages/index.scss";

:root{
    margin:auto;
    font-size:16px;
    max-width: 1440px;
}
Body{
    margin:0;
    display:flex;
    flex-direction: column;
}
.body-restaurant{
    position: relative;
}