@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations.scss";

@import "./base/typography";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/loader";

@import "./pages/index.scss";
@import "./pages/restaurant.scss";

@import "./components/button.scss";
@import "./components/card.scss";
@import "./components/cardgrid.scss";
@import "./components/menu-button.scss";

:root {
  margin: auto;
  font-size: 16px;
  max-width: 1440px;
}
Body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.body-restaurant {
  position: relative;
}
 