/**************partie de selection des Restaurant en Accueille**/
.Restaurants-Section {
  position: relative;
  padding: 54px 20px 64px 20px;
  &_Titre {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
      width: 100%;
      padding: 54px 0px 64px 0px;
      &_Titre {
      position: relative;
      left: 53px;
    }
  }
  @media (min-width: 1080px) {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 54px 0 64px 0;
    &_Titre {
      position: relative;
      left: 12%;
    }
  }
}
/********** card restaurant container************/
.Restaurants-Cards-Box {
  @include flex-column-center;
  gap: 18px;
  @media (min-width: $br-tab) {
    @include flex-Row;
    justify-content: space-between;
  }
  @media (min-width: 1260px) {
  }
}
/***************définition de la grid, et du noscroll pour effet liste*************/
.restaurant-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 251px 251px 251px 251px;
  gap: 16px;
  @media (min-width: 768px) {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      height: 264px;
      grid-template-columns: [col] 49% [col] 49%;
      grid-template-rows: 251px 251px 1px;
      row-gap: 32px;
      column-gap: 20px;
      overflow-y: auto;
      overflow-x: auto;
      scroll-behavior: smooth;
    &::after {
      content: "";
      grid-column: col / span 2;
    }
  }
  @media (min-width: 1080px) {
    height: 264px;
    grid-template-columns: 9% 335px 335px 335px 335px 9%;
    grid-template-rows: 251px;
    gap: 32px;
    overflow-x: auto;
    scroll-behavior: smooth;
    &::before,
    &::after {
      content: "";
    }
  }
}
.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
