/********** Var color**************/
$localisation-background-color: #eaeaea;
$background-color: #f7f7f7;
$primary-color: #9356dc;
$light-primary-color: #ff79da;

/*********Var font color*********/
$title-font-color: #101010;
$primary-font-color: black;
$secondary-font-color: #353535;
$btn-font-color: white;

/**********Var font family*******/
$primary-font: "Shrikhand", cursive;
$secondary-font: "Roboto", sans-serif;

/************Var Breaking point**********/
$br-tab: 768px;

/*****essai*******/
